<div class="dashboard-container">
  <h2>Dashboard</h2>
  <div class="voter-counts">
    <div class="count-box">
      <h3>Total Voters</h3>
      <p>{{ totalVoters }}</p>
    </div>
    <div class="count-box">
      <h3>Registered Voters</h3>
      <p>{{ registeredVoters }}</p>
    </div>
    <div class="count-box">
      <h3>Non-Registered Voters</h3>
      <p>{{ nonregisteredVoters }}</p>
    </div>
    <div class="count-box">
      <h3> Voted</h3>
      <p>{{ votedVoters }}</p>
    </div>
    <div class="count-box">
      <h3>Not Voted</h3>
      <p>{{ notVotedVoters }}</p>
    </div>
  </div>

  <div class="chart-container">
    <h3>Voters by City</h3>
    <canvas baseChart
    [data]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [legend]="barChartLegend"
    [plugins]="barChartPlugins">
</canvas>

  </div>
</div>
