<p>voter-register works!</p>
<!-- filepath: /Users/nabingurung/dev/ng-github/election-app/src/voter-app/src/app/voter-register/voter-register.component.html -->
<h2>Register Voter</h2>
<form (ngSubmit)="registerVoter()">
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" [(ngModel)]="voter.firstName" name="firstName" required>
  <br>
  <label for="middleName">Middle Name:</label>
  <input type="text" id="middleName" [(ngModel)]="voter.middleName" name="middleName">
  <br>
  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" [(ngModel)]="voter.lastName" name="lastName" required>
  <br>
  <label for="email">Email:</label>
  <input type="email" id="email" [(ngModel)]="voter.email" name="email" required>
  <br>
  <label for="address">Address:</label>
  <input type="text" id="address" [(ngModel)]="voter.address" name="address" required>
  <br>
  <label for="city">City:</label>
  <input type="text" id="city" [(ngModel)]="voter.city" name="city" required>
  <br>
  <label for="state">State:</label>
  <input type="text" id="state" [(ngModel)]="voter.state" name="state" required>
  <br>
  <label for="zipCode">Zip Code:</label>
  <input type="text" id="zipCode" [(ngModel)]="voter.zipCode" name="zipCode" required>
  <br>
  <label for="phoneNumber">Phone Number:</label>
  <input type="text" id="phoneNumber" [(ngModel)]="voter.phoneNumber" name="phoneNumber" required>
  <br>
  <label for="referredBy">Referred By:</label>
  <input type="text" id="referredBy" [(ngModel)]="voter.referredBy" name="referredBy">
  <br>
  <button type="submit">Register</button>
</form>