<div class="container">
  <h2>Voters</h2>
  @if(voters.length > 0) {
    <p>There are total {{ voters.length }} voters.</p>
  }
  @else {
    <p>There are no voters.</p>
  }
  <p>Registered Voters: {{ registeredCount }}</p>
<p>Voters who haven't voted: {{ notVotedCount }}</p>

  <table class="table table-dark table-striped"
  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
    <tr>
      <th> Name</th>
          <!-- <th>Email</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip Code</th>
          <th>Phone Number</th> -->
          <th>Is Registered</th>
          <th>Has Voted</th>
          <th>Referred By</th>
          <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for(voter of voters;track voter){
      <tr>
        <td>{{ voter.firstName }} {{voter.middleName}} {{voter.lastName}}</td>
       <!-- <td>{{ voter.email }}</td>
        <td>{{ voter.address }}</td>
        <td>{{ voter.city }}</td>
        <td>{{ voter.state }}</td>
        <td>{{ voter.zipCode }}</td>
        <td>{{ voter.phoneNumber }}</td> -->
        <td><input type="checkbox" [checked]="voter.isRegistered" [disabled]="!voter.editing" ></td>
        <td><input type="checkbox" [checked]="voter.hasVoted" [disabled]="!voter.editing" ></td>
        <td>{{ voter.referredBy }}</td>
        <td>
          @if (!voter.editing) {
            <button (click)="editVoter(voter)" class="btn btn-primary">Edit</button>
          }
          @if (voter.editing) {
            <button (click)="saveVoter(voter)" class="btn btn-success">Save</button>
            <button (click)="cancelEdit(voter)" class="btn btn-secondary">Cancel</button>
          }
        </td>
      </tr>
    }
  </tbody>
   
  </table>
</div>
